{

  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "mocha": true
  },

  "globals": {
    "document": "readonly",
    "escape": "readonly",
    "navigator": "readonly",
    "unescape": "readonly",
    "window": "readonly",
    "sinon": "readonly"
  },

  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ],

  "rules": {
    "prettier/prettier": "error",
    "complexity": 0,
    "consistent-this": 0,
    "default-case": 0,
    "dot-notation": 0,
    "func-names": 0,
    "func-style": 0,
    "guard-for-in": 0,
    "handle-callback-err": [2, "^(err|error|anySpecificError)$" ],
    "max-nested-callbacks": 0,
    "max-params": 0,
    "max-statements": 0,
    "no-alert": 0,
    "no-catch-shadow": 0,
    "no-continue": 0,
    "no-empty": 0,
    "no-eq-null": 0,
    "no-inline-comments": 0,
    "no-lone-blocks": 0,
    "no-lonely-if": 0,
    "no-loop-func": 0,
    "no-mixed-requires": 0,
    "no-multi-str": 0,
    "no-nested-ternary": 0,
    "no-new": 0,
    "no-path-concat": 0,
    "no-plusplus": 0,
    "no-process-env": 0,
    "no-process-exit": 0,
    "no-restricted-modules": 0,
    "no-script-url": 0,
    "no-shadow": 0,
    "no-sync": 0,
    "no-ternary": 0,
    "no-undef": 2,
    "no-undef-init": 2,
    "no-underscore-dangle": 0,
    "no-unused-vars": [2, { "vars": "all", "args": "none" }],
    "no-use-before-define": 2,
    "no-var": 0,
    "no-void": 0,
    "no-warning-comments": 0,
    "operator-assignment": 0,
    "padded-blocks": 0,
    "quote-props": 0,
    "radix": 2,
    "sort-vars": 0,
    "space-in-brackets": 0,
    "strict": 0,
    "valid-jsdoc": 0,
    "vars-on-top": 2,
    "wrap-regex": 0,
    "yoda": [2, "never"]
  }
}
